{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user forgot password">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<div class="ui form ignore-dirty">
				<h2 class="ui top attached header">
					alo
				</h2>
				<div class="ui attached segment">
					<p>врат, пока что нельзя (и никогда не будет можно) потому что мне лень настраивать почту так что похуй на твой акк</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
